@import "variables";
@import "functions/functions";
@import "tagify";

%flex { display: flex; }
%flex-v-center {
    display: flex;
    align-items: center;
}
%flex-v-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@include generateColors;

*,
*:after,
*:before {
    box-sizing: border-box;
}


html, body {
    padding: 0;
    margin: 0;
    font-family: $primary-font;
    line-height: 1.6;
    color: color-assign(global-font-color);
    background: color-assign(global-background-color);
    min-height: 100vh;
}

body {
    padding-top: 74px;
    padding-bottom: $spacer-7;
}

section { position: relative; }

#rezultati {
    position: absolute;
    left: 0;
    top: -72px;
}

a {
    color: color-assign(global-font-color);
    text-decoration: none;
}

a[target='blank'],
a[target] {
    .icon {
        font-size: 14px;
    }
}

.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    overflow: hidden;
}


// IE11 support
main { display: block; }

.container {
    max-width: $global-container-width - 2 * $global-container-padding;
    margin: 0 auto;
    padding: 0 $global-container-padding;
}

// ------------------- Header

.site-header {
    @include fixed(top 0 left 0);
    width: 100%;
    background: color-assign(header-background-color);
    padding: $spacer-3 0;
    @include z-index(navigation);

    &__logo {
        display: none;
        width: 180px;
        height: 40px;

        img {
            width: 100%;
        }
    }

    form {
        width: 100%;
        max-width: 312px;
        margin: 0 auto;

        border-radius: $global-border-radius;
        border: 1px solid color-assign(line-header-border-color);
        background-color: color-assign(search-background-color);
        color: color-assign(search-font-color);

        @include font-size(14px, 24px);
    }

    button {
        padding-right: 0;
    }

    .icon {
        width: 1.5em;
        height: 1.5em;
    }
}

// ------------------ Button
.button {
    display: inline-flex;
    align-items: center;
    height: $button-height;
    padding: 0 $spacer-5;

    border-radius: $global-border-radius;
    border: 1px solid transparent;

    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    background-color: color-assign(button-background-color);

    color: color-assign(button-font-color);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:focus, &:hover {
        background-color: color-assign(button-hover-background-color);
        color: color-assign(button-hover-font-color);
    }
}

.link--clear {
    margin-left: 20px;
    color: #949494;

    &:hover {
        text-decoration: underline;
        color: #222;
    }
}

// SVG Coloring

.st0 {
    fill: color-assign(brand-primary);
}
.st1 {
    fill: #005a89
}
.st2 {
    opacity: .5;
    fill: #fff
}
.st4 {
    fill: #cbcbcb
}
.st6 {
    fill: #010103
}
.st8 {
    fill: #fff
}

.hero {
    padding: fluid-size($spacer-4, $spacer-7);

    border-radius: $global-border-radius;

    background-color: color-assign(brand-primary);

    color: #fff;

    &__image {
        padding-top: fluid-size($spacer-4, $spacer-7);
    }

    &__title {
        @include font-size(32px, 36px);
        margin-top: 0;
        margin-bottom: $spacer-3;
    }
}

.offline {
    &, .site-header { background: color-assign(brand-primary); }
    .hero { padding: 0; }
}

@include tablet-up {
    .hero {
        display: flex;
        align-items: flex-end;

        &__info { padding-right: $spacer-5; }

        &__title {
            @include font-size(56px, 64px);
        }

        &__image {
            padding-top: 0;
            flex-shrink: 0;
            width: 50%;
        }
    }
}
