// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://yaireo.github.io/tagify/dist/tagify.css');

%post-status {
    padding: .2em .6em .3em;
    color: #fff;
    border-radius: .25em;
}

.post-status-pending {
    @extend %post-status;
    background-color: #838495;
}

.post-status-accepted {
    @extend %post-status;
    background-color: #81c784;
}

.post-status-declined {
    @extend %post-status;
    background-color: #ff3c3c;
}

.tagify-single-line {
    flex-wrap: nowrap;
    overflow: hidden;
}
